<!DOCTYPE html>
<html>
  <head>
    <title>Dumbbell PPL Stats</title>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" rel="stylesheet">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.css" rel="stylesheet">
  </head>
  <body>
    {{ bokeh_div|safe }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.10.min.js"></script>
    {{ bokeh_script|safe }}
  </body>
</html>